/* css for styling gallery component card boxes */

#gallery div.card {
    box-sizing: content-box;
    width: 300px;
    text-align: center;
    margin: 5px 0;
    padding: 0 !important;
    border-radius: 10px;
}

#gallery div.card-img-top {
    height: 272px;
    width: 300px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}

#gallery img.card-img-top:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

#gallery .card-body .saved {
    color: red;
}